@import url('https://fonts.googleapis.com/css?family=Lato&display=swap:100,200,300,400,500,600,700,800,900');

$radio-bg: linear-gradient(#000,#dd0000);

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  text-rendering: geometricPrecision;
  image-rendering: crisp-edges;
}

h1 {
  font-weight: 900;
}

body {
  margin: 0;
  color: #fff;
  background: $radio-bg;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

.Radio {
  padding: 1em;
  padding-bottom: 15vh;
}
@media(min-width: 600px) {
  .Radio {
    margin: auto;
    max-width: 50%;
  }
}